<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>comidas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>{{titulo}}</h1>
  </ion-text>
  <ion-list>
    <ion-item *ngFor="let comidas of Lista_comidas">
      <ion-card (click)="ver_receta(comidas.idMeal)">
        <img alt={{comidas.strMeal}} src={{comidas.strMealThumb}} />
        <ion-card-header>
          <ion-card-title>{{comidas.strMeal}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{comidas.idMeal}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
